<form action="/search" class="well">
  <div class="input-append">    
    <input type="text" name="query" placeholder="search..." autofocus="true" class="well" />
    <input type="submit" name="submit" value="OK" class="btn btn-primary well" />
  </div>
</form>

<script>
/*
var search = function(e) {
  lastSearch = queryField[0].value.trim();
  ws.send(lastSearch);
  location.hash = lastSearch;
}

if (location.hash) {
  queryField[0].value = location.hash.substring(1);
  setTimeout(search, 500);
}

queryField.keyup(function() {
  clearTimeout(searchTimeout);
  lastSearch !== this.value &&
        this.value.trim() &&
        (searchTimeout = setTimeout(search, 500));
});
*/
</script>
    