<div id="top" class="well form-search row">
  <div id="search-box" class="span12">
    <input id="query" type="text" name="query" autofocus="true" 
      placeholder="theses search" class="input-large search-query"/>
  </div>
  <input type="hidden" id="lastQuery"></input>
  <input type="hidden" id="doc"></input>
</div>

<script id="template" type="text/x-jquery-tmpl"> 
  <div class="span12 hero-unit">
    <h2>
      ${id}&nbsp;
      <a class="btn" data-toggle="modal" href="#preview" onclick="updateId('${id}')">
        <i class="icon-eye-open"></i>
      </a>
    </h2>
    <pre class="prettyprint linenums">
      <ul class="linenums">
        {{each oneline}}
          <li>{{html $value}}</li>
        {{/each}}
      </ul>
    </pre>
  </div>
</script>

<div id="results" class="row"></div>

<div id="preview" class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 id="preview-title"></h3>
  </div>
  <div class="modal-body">
    <pre class="prettyprint linenums" id="preview-content" />
  </div>
</div>

<script src="jquery-1.7.2.min.js"></script>
<script src="jquery.tmpl.min.js"></script>
<script src="spin.min.js"></script>
<script src="bootstrap-modal.js"></script>
<script src="oneliner.js"></script>
<script src="index.js"></script>
