<div id="top" class="well form-search row">
  <div id="search-box" class="span12">
    <input id="query" type="text" name="query" autofocus="true" 
      placeholder="theses search" class="input-large search-query"/>
  </div>
</div>

<script id="template" type="text/x-jquery-tmpl"> 
  <div class="span12 hero-unit">
    <h2>${id}: </h2>
    <p>{{html matches}}</p>
  </div>
</script>
<div id="results" class="row" />

<script src="jquery-1.7.2.min.js"></script>
<script src="jquery.tmpl.min.js"></script>
<script src="spin.min.js"></script>
<script src="index.js"></script>