<%= erb :pucrs if puc %>

<div id="top" class="well form-search row">
  <div id="search-box" class="span8 pull-left">
    <i class="icon-search"></i>
    <input id="query" type="text" name="query" autofocus="true"
      placeholder="theses search" class="input-large search-query">
		<span id="no-results" class="label hide"></span>
  </div>

  <div id="upload-box" class="span4">
    <span id="upload-status" class="label label-success hide">Success</span>
    <a id="open-upload" class="btn btn-inverse" title="Upload" data-toggle="modal" href="#upload"><i class="icon-upload icon-white"></i>&nbsp;UPLOAD</a>
  </div>
</div>

<input type="hidden" id="lastQuery"></input>
<input type="hidden" id="doc"></input>

<script id="doc-template" type="text/x-jquery-tmpl"> 
  <div class="span12 hero-unit">
    <h2>
      ${name}&nbsp;
      <a class="btn ttip" rel="contents" title="Preview" data-toggle="modal" href="#preview" onclick="updateId('${id}')">
        <i class="icon-eye-open"></i>
      </a>
      <a class="btn ttip" title="Download" data-toggle="modal" href="#">
        <i class="icon-download"></i>
      </a>
    </h2>

    <div id="accordion${uniqueId}" class="accordion">Loading<span class="snippet-loading"></span></div>
  </div>
</script>

<script id="matches-template" type="text/x-jquery-tmpl">
  {{each snipets}}
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" 
          data-toggle="collapse" 
          data-parent="#accordion${uniqueId}" 
          href="#collapse${uniqueId+$index}">
          {{html $value.oneline}}
        </a>
      </div>
      <div id="collapse${uniqueId+$index}" class="accordion-body collapse">
        <div class="accordion-inner">
          <pre class="prettyprint linenums">{{html $value.full}}</pre>
        </div>
      </div>
    </div>
  {{/each}}
</script>

<div id="upload" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Upload</h3>
  </div>
  <div class="modal-body">
    <form id="thesis-upload" class="form-horizontal" action="/upload" method="POST" enctype="multipart/form-data">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="thesis-title">Title</label>
          <div class="controls">
            <input id="thesis-title" type="text" name="title" placeholder="Some nice title">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="thesis-author">Author(s)</label>
          <div class="controls">
            <input id="thesis-author" type="text" name="author" placeholder="John Doe">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="thesis-date">Date</label>
          <div class="controls">
            <% today = Time.now.strftime('%d-%m-%Y') %>
            <input id="thesis-date" type="text" name="date" value="<%= today %>" 
              data-date="<%= today %>" data-date-format="dd-mm-yyyy" placeholder="<%= today %>">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="thesis-doc">Document</label>
          <div class="controls">
            <input id="thesis-doc" type="file" name="doc">
          </div>
        </div>
        <div class="form-actions">
          <button id="thesis-submit" class="btn btn-primary" type="submit">Upload</button>
          <span id="upload-error" class="label label-important hide">Error on upload</span>
        </div>
      </fieldset>
    </form>
    <div id="upload-progress" class="progress progress-striped active hide">
      <div class="bar"></div>
    </div>
  </div>
</div>

<div id="results" class="row"></div>

<div id="preview" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 id="preview-title"></h3>
  </div>
  <div class="modal-body">
    <pre id="preview-content" class="prettyprint linenums" />
  </div>
</div>

<script src="jquery-1.7.2.min.js"></script>
<script src="jquery.tmpl.min.js"></script>
<script src="jquery.form.js"></script>
<script src="spin.min.js"></script>
<script src="bootstrap-modal.js"></script>
<script src="bootstrap-collapse.js"></script>
<script src="bootstrap-tooltip.js"></script>
<script src="bootstrap-datepicker.js"></script>
<script src="bootstrap-transition.js"></script>
<script src="oneliner.js"></script>
<script src="index.js"></script>
