<div id="top" class="well form-search row">
  <div id="search-box" class="span12">
    <input id="query" type="text" name="query" autofocus="true" 
      placeholder="theses search" class="input-large search-query"/>
		<span id="no-results" class="label label-warning hide">No results found</span>
  </div>
</div>

<input type="hidden" id="lastQuery"></input>
<input type="hidden" id="doc"></input>

<script id="template" type="text/x-jquery-tmpl"> 
  <div class="span12 hero-unit">
    <h2>
      ${id}&nbsp;
      <a class="btn" data-toggle="modal" href="#preview" onclick="updateId('${id}')">
        <i class="icon-eye-open"></i>
      </a>
    </h2>

    <div class="accordion" id="accordion${uniqueId}">
      {{each snipets}}
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" 
              data-toggle="collapse" 
              data-parent="#accordion${uniqueId}" 
              href="#collapse${uniqueId+$index}">
              {{html $value.oneline}}
            </a>
          </div>
          <div id="collapse${uniqueId+$index}" class="accordion-body collapse">
            <div class="accordion-inner">
              <pre class="prettyprint linenums">{{html $value.full}}</pre>
            </div>
          </div>
        </div>
      {{/each}}
    </div>

  </div>
</script>

<div id="results" class="row"></div>

<div id="preview" class="modal hide">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 id="preview-title"></h3>
  </div>
  <div class="modal-body">
    <pre class="prettyprint linenums" id="preview-content" />
  </div>
</div>

<script src="jquery-1.7.2.min.js"></script>
<script src="jquery.tmpl.min.js"></script>
<script src="spin.min.js"></script>
<script src="bootstrap-modal.js"></script>
<script src="bootstrap-collapse.js"></script>
<script src="oneliner.js"></script>
<script src="index.js"></script>
