<html>
  <head>
    <title>theses search</title>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="common.css" />
  </head>
  <body>
    <%= yield %>
  </body>
</html>