.icon-search {
  position: absolute;
  top: 10px;
  left: 10px;
}

#search-box {
  height: 36px;
  position: relative;
}

#upload-box {
  text-align: right;
}

#query {
  height: 36px;
  font-size: 20px;
  border-radius: 4px;
  padding-left: 30px;
  width: 400px
}

#results ul {
  margin-right: 25px;
  margin-bottom: 0px;
}

#results h2 {
  margin-bottom: 10px;
}

.hero-unit {
  background-color: white;
  margin-bottom: 0px;
  padding: 30px;
}

.dots {
  font-weight: bold;
  word-spacing: 1ex;
  font-style: italic;
  font-variant: small-caps;
}

a.accordion-toggle {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a.accordion-toggle:hover {
  text-decoration: none;
}

#no-results {
  margin-left: 10px;
}

pre.prettyprint {
  margin-bottom: 0px;
}

.highlight0 {
  background-color: #ffa
}

.highlight1 {
  background-color: #afa
}

.highlight2 {
  background-color: #0ff
}

.highlight3 {
  background-color: #faa
}

.highlight4 {
  background-color: #aff
}

.highlight6 {
  background-color: #aaf
}

.highlight5 {
  background-color: #fa0
}

.highlight7 {
  background-color: #faf
}

.highlight8 {
  background-color: #aaf
}